@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
h2 {
  font-family: 'DM Serif Display';
}
.email {
  box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
}
